<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body>
        <div id='app'>
            <v-app>
                <v-main>
                    <v-container fluid>
                        <h1><v-icon>mdi-google-cloud</v-icon>Natural Language API</h1>
                        <v-row class="pa-5">
                            <v-col>
                                <form v-on:submit.prevent="submit">
                                    <v-textarea v-model="formData.text" placeholder="分析したい文章を入力してください。（英語のみ）"></v-textarea>
                                    <v-btn color="orange" @click="submit">感情分析実行</v-btn>
                                </form>
                            </v-col>
                        </v-row>
                        <v-row class="pa-5">
                            <v-col>
                                <v-card>
                                    <v-card-text>
                                        <div>
                                            <ul>
                                                <li v-for="item in results">
                                                    [[ item ]]
                                                </li>
                                            </ul>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <script>
            var app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                vuetify: new Vuetify(),
                data: {
                    formData: {
                        text: ""
                    },
                    results: null,
                },
                methods: {
                    submit: function() {
                        console.log(this.formData)
                        axios.post('/apisample', this.formData)
                        .then(response => {
                            str1 = response.data
                            str2 = (str1.replace('[', '')).replace(']', '')
                            arr1 = str2.split('{')
                            arr2 = arr1.slice(1)
                            this.results = arr2
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    }
                }
            })
        </script>
    </body>
</html>